/* Image style */

#scrollUp {
    background-image: url("../img/up-angle.svg"); 
    background-color: greenyellow;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
    bottom: 5px;
    right: 5px;
    width: 36px;    
    height: 38px;
    text-indent: -9999999px;   
    display: block; 
}